SMTP_PASSWORD=example_smtp_password
SMTP_USER=example_email@gmail.com
SMTP_HOST="smtp.example.com"
SMTP_PORT=465

NATS_URL=nats://example_nats_url:4222

BACKEND_URL=http://localhost:8000/api
EMAIL_CONFIRMATION_URL=/confirm_email/{}
